	<div id="navfoot">
		<a href="about path">About</a>
		<a href="privacy policy path">Privacy Policy</a>
		<a href="terms service path">Terms of Service</a>
		<a href="mailto:tickets@webtet-students.uservoice.com?Subject=Webtet%20Support">Contact Us</a>
		<br /><br />
		&copy; 2013 Jason Corey, Dave Benson, wif, etc... </div>
	</div>
